{% extends 'base.html' %}
{% block content %}
    <p>Ready in Real-Time is your lobby for getting everybody ready to go into a real-time session on any live collaboration site, including PBworks, Google Wave, EtherPad, etc. Make a lobby, share the URL, then when everybody is ready and available, you all end up in your collaboration space! (If the lobby page is open, you get redirected. If you left the lobby page, we notify you with the link.)</p>
    <p>Fancy UI coming soon. Along with a bookmarklet. Will integrate with IM and <a href="http://notify.io">notify.io</a>.</p>
    <form action="/" method="post">
      <p>Where will you collaborate? (URL)<br />
        <input type="text" name="url" /> 
      </p>
      <p>How many participants?<br />
        <select name="participants">
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
        </select>
        </p>
        <input type="submit" value="Start Lobby" />
      </form>
    </p>
{% endblock %}